/* DOCUMENT COLORS
background-color: #f3e5f5
pageHeader & boxes: #c0b3c2
text: #000000

*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3e5f5;
    color: #000000;
}
.pageHeader {
    text-align: center;
    color: #000000;
}

/* .list is the flex container for child .shop*/
.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
}
        
/* .shop is the flex child item of parent .list */
.shop {
    text-align: "left";
    width: 200px;
    background-color: #c0b3c2;
    padding: 10px 20px 0px 20px;
    margin: 5px;
    height: 90px;
    border: 1px dotted black;
}

.address {
    text-align: "left";
}

/* .shop-links is flex container for child shop-links.a */
.shop-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 60%;
}

/* .shop-links.a is the flex child item of parent .shop-links */
.shop-links.a {
    align-self: flex-end;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #ffffff;
}


.shop-name {
    font-size: 1.25em;
}
